{% extends 'URLshortener/base_form.html' %}

{% block head %} <title>Login</title> {% endblock %}

{% block form_title %} ورود {% endblock %}

{% block form_id %}login{% endblock %}

{% block form_action %}{% url 'auth_login' %}{% endblock %}

{% block submit_value %} ورود {% endblock %}

{% block additional_content %}
    <div class='text-right alert alert-info p-2 m-1'>
        <span class='small'>هنوز ثبت نام نکرده اید؟</span>
        <a class='btn btn-link small m-0 py-0 px-2' href="{% url 'registration_register' %}">ثبت نام</a>
    </div>
{% endblock %}