{% extends 'URLshortener/base_form.html' %}

{% block head %} <title>Register</title> {% endblock %}

{% block form_title %} ثبت نام {% endblock %}

{% block form_id %}register{% endblock %}

{% block form_action %}{% url 'registration_register' %}{% endblock %}

{% block submit_value %} ثبت نام {% endblock %}

{% block additional_content %}
    <div class='text-right alert alert-info p-2 m-1'>
        <span class='small'>قبلا ثبت نام کرده اید؟</span>
        <a class='btn btn-link small m-0 py-0 px-2' href="{% url 'auth_login' %}">ورود</a>
    </div>
{% endblock %}