{% extends 'URLshortener/base_form.html' %}
{% load static %}

{% block head %} <title>Add URL</title> {% endblock %}

{% block form_title %}اضافه کردن URL {% endblock %}

{% block form_id %}add-url{% endblock %}

{% block form_action %}{% url 'URLshortener:add-url' %}{% endblock %}

{% block submit_btn %}
    {% if not shortened_url %}
        <button id='submit' type='submit' class='btn btn-primary py-1 px-2'>کوتاه کردن</button>
    {% endif %}
{% endblock %}


{% block additional_content %}
    {% if shortened_url %}
        <div class='p-1 text-center'>
            <div class='text-right text-white p-1'>آدرس کوتاه شده:</div>
            <input class='text-left d-block' id='shortened-url' type="url" maxlength="512"
                value='{{ shortened_url }}' readonly>
            <button id='copy-btn' class='btn btn-primary m-2'>کپی کردن آدرس</button>
        </div>

        <div class='text-right text-white'>
            <span>رفتن به: </span>
            <br>
            <a class='btn btn-info m-1' href="{% url 'URLshortener:home' %}">صفحه اصلی</a>
            <br>
            <a class='btn btn-info m-1' href="{% url 'URLshortener:dashboard' %}">پنل کاربری</a>
            <br>
            <a class='btn btn-info m-1' href="{% url 'URLshortener:add-url' %}">کوتاه کردن نشانی دیگر</a>
        </div>
    {% endif %}
{% endblock %}

{% block js_links %}
    <script src='{% static "URLshortener/js/add_url.js" %}'></script>
{% endblock %}