<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel='stylesheet' href="{% static 'URLshortener/css/fonts.css' %}">
	<link rel='stylesheet' href="{% static 'URLshortener/css/base_form.css' %}">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
	<main>
		<div class='text-white text-center p-2 container'>{% block form_title %} {% endblock %}</div>
		<div class='form-div p-2 mx-auto rounded-lg'>
		{% block form_body %}
			<form id='{% block form_id %}{% endblock %}' class='mx-auto p-2'
				method='post' action="{% block form_action %}{% endblock %}"
				enctype="{% block form_enctype %}application/x-www-form-urlencoded{% endblock %}">
				{% csrf_token %}

				{% block info %}
				{% endblock %}

				{% for error in form.non_field_errors %}
					<div class='alert alert-danger alert-dismissable text-right small p-2 my-1 mx-auto'>	
						<button type="button" class="close float-left" data-dismiss="alert">&times; </button>
						{{ error }}
					</div>
				{% endfor %}
		
				{% for field in form.visible_fields %}
					<div class='row p-1'>
						<div class='col-sm-5 text-right px-2'>{{ field.label_tag }}</div>
						<div class='col-sm-7 text-center px-2'>{{ field }}</div>
					</div>
					
					{% for error in field.errors %}
						<div class='alert alert-danger alert-dismissable text-right small p-2 my-1 mx-auto'>
							<button type="button" class="close float-left" data-dismiss="alert">&times; </button>
							{{ error }}
						</div>
					{% endfor %}
				{% endfor %}
				<div class='text-center p-2'>
					{% block submit_btn %}
					<button id='submit' type='submit' class='btn btn-primary py-1 px-2'>
						{% block submit_value %}{% endblock %}
					</button>
					{% endblock %}
				</div>
			</form>
		{% endblock %}

		{% block additional_content %}
		{% endblock %}
		</div>

	</main>

	{% block js_links %}
	{% endblock %}
    
</body>
</html>