{% extends 'URLshortener/base.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block head %}
	<link rel='stylesheet' href="{% static 'URLshortener/css/dashboard.css' %}">
	<title> Dashboard </title>
{% endblock %}

{% block header %}
    <div class='container-fluid row p-0 m-0'>
        <div class='col-sm-3 p-2 text-center'>
            {% if user.profile.photo %}
            <img class='w-100 rounded-circle img-thumbnail' src='{{ user.profile.photo.url }}'>
            <button id='delete-photo' class='btn btn-success m-1'>حذف تصویر</button>
            {% else %}
            <img class='w-100 rounded-circle img-thumbnail' src='{% static "URLshortener/images/user_avatar.png" %}'>
            {% endif %}
        </div>
        <div class='col-sm-9 text-white text-right p-2'>
            <div class='user-info p-2'>
                <div class='row p-2'>
                    <div class='col-sm-5'>نام کاربری:</div>
                    <div class='col-sm-7'>{{ user.username }}</div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>نام:</div>
                    <div class='col-sm-7'>
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            ثبت نشده
                        {% endif %}
                    </div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>نام خانوادگی:</div>
                    <div class='col-sm-7'>
                        {% if user.last_name %}
                            {{ user.last_name }}
                        {% else %}
                            ثبت نشده
                        {% endif %}
                    </div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>تاریخ تولد:</div>
                    <div class='col-sm-7'>{{ user.profile.birth_date_jalali }}</div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>ایمیل:</div>
                    <div class='col-sm-7'>{{ user.email }}</div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>وب سایت:</div>
                    <div class='col-sm-7'>
                        {% if user.profile.website %}
                            {{ user.profile.website }}
                        {% else %}
                            ثبت نشده
                        {% endif %}
                    </div>
                </div>
                <div class='row p-2'>
                    <div class='col-sm-5'>تعداد نشانی های کوتاه شده:</div>
                    <div class='col-sm-7'>{{ page_obj.paginator.count|to_persian }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class='row container-fluid p-0 m-0'>
        <aside class='col-sm-3 p-2 m-0'>
            <ul class='nav flex-column text-center text-white p-0 m-0 rounded border'>
                <li class="nav-item p-2"><a class='d-block' href="{% url 'URLshortener:home' %}" >صفحه اصلی</a></li>
                <li class="nav-item p-2"><a class='d-block' href="{% url 'URLshortener:add-url' %}" >اضافه کردن نشانی</a></li>
                <li class="nav-item p-2"><a class='d-block' href="{% url 'URLshortener:edit-profile' %}" >ویرایش اطلاعات</a></li>
                <li class="nav-item p-2"><a class='d-block' href="{% url 'auth_logout' %}?next=/" >خروج</a></li>
            </ul>
        </aside>
        <div class='col-sm-9 p-2 m-0'>
            <div class='container text-center text-white p-2 main-title'>نشانی های اضافه شده</div>
            {% if page_obj %}
                <div class='container table-responsive p-0 my-2 mx-auto table-div'>
                    {% url_cards page_obj %}
                </div>
            {% else %}
                <div class='alert alert-info text-right p-2 m-2 mx-auto'>
                    هنوز هیچ نشانی ای توسط شما اضافه نشده است!
                </div>
            {% endif %}

            {% if is_paginated %}
                {% paginator page_obj %}
            {% endif %}
        </div>
    </div>

    <div id="overlay" class="text-right d-none overlay">
        <span id='close' class="p-0 m-0 close-btn">&#x2715;</span>
        <div class="card p-3 text-center mx-auto overlay-content">
            <div>تصویر پروفایل حذف شود؟</div>
            <div class='text-center m-2'>
                <a id='yes' href="{% url 'URLshortener:delete-photo' %}" class='btn btn-success py-1'>بله</a>
                <button id='no' class='btn btn-danger py-1'>خیر</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_links %}
    <script src="{% static 'URLshortener/js/dashboard.js' %}"></script>
{% endblock %}