<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel='stylesheet' href="{% static 'URLshortener/css/fonts.css' %}">
	<link rel='stylesheet' href="{% static 'URLshortener/css/home.css' %}">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
	<header class='container-fluid p-0'>
		<nav class='navbar navbar-expand p-0'>
		{% if user.is_authenticated %}
			<ul class="navbar-nav p-0 m-0">
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:dashboard' %}">پنل کاربری</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:add-url' %}">اضافه کردن URL</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:sign-out' %}">خروج</a>
				</li>
			</ul>
		{% else %}
			<ul class="navbar-nav p-0 m-0">
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:sign-up' %}">ثبت نام</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:sign-in' %}">ورود</a>
				</li>
			</ul>
		{% endif %}
		</nav>
		<div class='text-right p-5 mt-5 text-white header-title'>کوتاه url گستر ایران زمین</div>
	</header>
	<main class='p-2'>
		<div class='container text-center text-white main-title'>پر بازدید ترین لینک ها</div>
		<div class='container table-responsive p-0 my-2 mx-auto rounded table-div border'>
			<table class='table table-light table-striped table-borderless urls-table text-center p-0 mx-auto my-0'>
				<thead>
					<tr>
						<th class='url-property p-2'>ردیف</th>
						<th class='url-property p-2'>آدرس</th>
						<th class='url-property p-2'>بازدید</th>
						<th class='url-property p-2'>تاریخ ایجاد</th>
					</tr>
				</thead>
				<tbody>
					{% for short_url in short_urls %}
					<tr>
						<td class='p-2'>{{forloop.counter}}</td>
						<td class='p-2'>
							<a href="{% url 'URLshortener:shortened-url' short_url.slug%}">
							{% url 'URLshortener:shortened-url' short_url.slug %}
							</a>
						</td>
						<td class='p-2'>{{short_url.visits}}</td>
						<td class='p-2'>{{short_url.created}}</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>

	</main>
	<footer></footer>
    
</body>
</html>