{% extends 'URLshortener/base.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block head %}
	<link rel='stylesheet' href="{% static 'URLshortener/css/home.css' %}">
	<title> Home </title>
{% endblock %}

{% block header %}
	<nav class='navbar navbar-expand p-0'>
		{% if user.is_authenticated %}
			<ul class="navbar-nav p-0 m-0">
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:dashboard' %}">پنل کاربری</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'URLshortener:add-url' %}">کوتاه کردن نشانی</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'auth_logout' %}?next=/">خروج</a>
				</li>
			</ul>
		{% else %}
			<ul class="navbar-nav p-0 m-0">
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'registration_register' %}">ثبت نام</a>
				</li>
				<li class="nav-item p-1 text-center">
					<a class="nav-link" href="{% url 'auth_login' %}">ورود</a>
				</li>
			</ul>
		{% endif %}
	</nav>
	<div class='text-right p-5 text-white header-title'>کوتاه نشانی اینترنتی گستر ایران زمین</div>
{% endblock %}

{% block main %}
	<div class='container-fluid p-2'>
		<div class='container text-center text-white main-title'>پر بازدید ترین نشانی های کوتاه شده</div>
		{% if page_obj %}
			<div class='container table-responsive p-0 my-2 mx-auto rounded table-div border'>
				{% urls_table page_obj %}
			</div>
		{% else %}
			<div class='alert alert-info text-right p-2 m-2 mx-auto'>
				هنوز هیچ نشانی ای اضافه نشده است!
			</div>
		{% endif %}

		{% if is_paginated %}
			{% paginator page_obj %}
		{% endif %}
	</div>
{% endblock %}