{% extends 'URLshortener/base_form.html' %}

{% block head %} <title>Sign up</title> {% endblock %}

{% block form_title %} ثبت نام {% endblock %}

{% block form_body %}
    {% if signed_up %}
        <div class='text-right text-white'>
            <p>ثبت نام شما با موفقیت انجام شد</p>
            <span>رفتن به: </span> <br>
            <a class='btn btn-info m-1' href="{% url 'URLshortener:home' %}">صفحه اصلی</a>
            <br>
            <a class='btn btn-info m-1' href="{% url 'URLshortener:dashboard' %}">پنل کاربری</a>
        </div>
    {% else %}
        <form id='sign-up' class='mx-auto p-3' method='post' action="{% url 'URLshortener:sign-up' %}">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class='alert alert-danger alert-dismissable text-right small p-2 my-1 mx-auto'>
                    {{ error }}
                    <button type="button" class="close float-left" data-dismiss="alert">&times; </button>
                </div>
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class='row py-2'>
                    <div class='col-sm-5 text-right px-2'>{{ field.label_tag }}</div>
                    <div class='col-sm-7 text-center px-2'>{{ field }}</div>
                </div>
                
                {% for error in field.errors %}
                    <div class='alert alert-danger alert-dismissable text-right small p-2 my-1 mx-auto'>
                        {{ error }}
                        <button type="button" class="close float-left" data-dismiss="alert">&times; </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class='text-center pt-3'>
                <button type='submit' class='btn btn-success py-1 px-2'>ثبت نام</button>
            </div>
        </form>
    {% endif %}
{% endblock %}