body {
	direction: rtl;
    font-family: Lalezar;
    background-image: url('../images/site_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

header {
    /*background-image: url('../images/header_bg.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards-div {
    font-family: Shabnam;
}

.url-card {
    max-width: 300px;
}

.url-number {
    font-family: Lalezar;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353535da;
    z-index: 10;
}

.close-btn {
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    right: 2vw;
    color: #a8b8b6;
}

.close-btn:hover {
    color: #ddcdcb;
}

.overlay-content {
    max-width: 400px;
    margin-top: 20%;
    font-family: Shabnam;
}

.search-box {
    font-size: 15px;
    font-family: Shabnam;
    width: 800px;
    max-width: 100%;
}

.search-result {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 2px 7px gray;
    border: 1px solid gray;
    font-size: 14px;
    z-index: 2;
}

.search-item {
    border-bottom: 1px solid gray;
}