body {
	direction: rtl;
    font-family: Lalezar;
    background-image: url('../images/site_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

header {
    /*background-image: url('../images/header_bg.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards-div {
    font-family: Sahel;
}

.url-card {
    max-width: 200px;
}

.url-number {
    font-family: Lalezar;
}