body {
	direction: rtl;
    font-family: Sahel;
    background-image: linear-gradient(to right bottom, #35304d, #136617);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}    