.main-title {
    font-size: 20px;
    background-color: #77777757;
  }

.nav-item a {
    color: white;
    font-family: Sahel;
}

.nav-item a:hover {
    text-decoration: none;
}

.nav-item:hover {
    background-color: #49484875;
}

.user-info {
    font-size: 15px;
    font-family: Shabnam;
    background-color: #77777757;
}