nav {
  font-family: Sahel;
  background-color: #77777757;
}

nav a.nav-link {
  color: white !important;
}

nav li.nav-item:hover {
  background-color: #49484875;
}

.header-title {
  font-family: Lalezar;
  font-size: 50px;
}

@media screen and (max-width: 350px) {
  .header-title {
    font-size: 35px;
  }
}

.main-title {
  font-size: 20px;
  background-color: #77777757;
}