nav {
  background-color: #66646493;
}

nav a.nav-link {
  color: white;
}

nav li.nav-item:hover {
  background-color: #666464af;
}

.header-title {
  font-size: 50px;
}

.main-title {
  font-family: Shabnam;
  font-size: 20px;
}